

.wholePage{
    width: 100%;
    height: 100%;
    display: flex;
    gap:1rem;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


@media(max-width: 600px){
    .card{
        width: 100%;
    }

    .wholePage{
        width: 100%;
        padding: 1.5rem;
        justify-content: center;
        flex-direction: column;

    }
}